*
{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body
{
    background-color: black;
    color: white;
}
.container
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid #21252D;
    background-color: #21252D;
}
.logo
{
    display: flex;
    flex-direction: row;
}
.logo h2
{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin-top: 5px;
    text-shadow: 2px 2px 7px white;
}
.options
{
  margin-top: 20px;
  position: absolute;
  left: 20%;
}
.options a
{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 30px 5px ;
    margin-left: 10px; 
    transition: 0.7s ease; 
    font-family: 'EB Garamond', serif;
    box-shadow: 1px 1px 1px 1px white;
}
.options a:hover
{

    background-color: white;
    color: black;
}
.searchbar
{
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}
input
{
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    background-color: #21252D ;
}
::placeholder
{
    color: white;
    font-family: 'EB Garamond', serif;
}
button
{
    padding: 5px 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
    box-shadow: 1px 1px 3px 1px cornsilk;
}
label #sign-one,
label #sign-two
{
    font-size: 30px;
    color: white;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;  
}
#check
{
    display: none;
}
.heading
{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.items
{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-column-gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: hidden;
    transition: transform 0.7s;
    padding: 5px;
}
.items::-webkit-scrollbar 
{
    display: none;
}
.griditems > img
{
    border-radius: 20px;
    box-shadow: 1px 1px 5px 3px black;
    
}
.griditems > p
{
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.griditems1 > img
{
    border-radius: 50%;
}
.bottom
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 60px;
    border: 1px solid #21252D;
    background-color: #21252D;
}
.buttons
{
    margin-left:auto;
    margin-right: auto;
}
.buttons > i
{
    padding-right: 20px;
}
.butt > i
{
    padding-right: 20px;
    padding-left: 20px;
}

@media screen and (max-width:768px)
{
    .container
    {
        width: 100%;
        height: 70px;
    }
    .imagemusic
    {
        width: 45px;
        height: 45px;
    }
    .logo
    {
        margin-top: 15px;
    }
    .logo > h2
    {
        font-size: 35px;
        margin-top: -2px;
    }
    .searchbar
    {
        margin-top: 10px;
        margin-left: 20px;
    }
    button
    {
        display: none;
    }
    #check , label #sign-one 
    {
        display: block;
        margin-top: 5px;
    }
    .options
    {
        display: none;
    }
    .options a
    {
        display: none;
    }
    .heading
    {
        font-size: 20px;
    }
    .head
    {
        font-size: 10px;
    }
}
@media screen and (max-width:425px)
{
    input
    {
        display: none;
    }
    .container
    {
        width: 100%;
        height: 50px;
    }
    .imagemusic
    {
        width: 35px;
        height: 35px;
        margin-top: 0px;
    }
    .logo
    {
        margin-top: 10px;
    }
    .logo > h2
    {
        font-size: 30px;
        margin-top: -2px;
    }
    .sear > i
    {
        font-size: 25px;
        margin-top:3px;
        margin-left: 160px;
    }
    #check , label #sign-one 
    {
        display: block;
        margin-top: 0px;
        margin-right: 3px;
    }
    
    .head
    {
        font-size: 5px;
    }
    .heading
    {
        margin-top: 15px;
    }
}
@media screen and (max-width:375px)
{
    body
    {
        width: 100%;
        height: 100vh;
    }
    .container
    {
       
        width: 100%;
        height: auto;
    }
    .items
    {
        margin-right: 10px;
    }
    
    #check , label #sign-one 
    {
        margin-right: 13px;
    }
    .sear > i
    {
        margin-left: 120px;
    }
    .heading
    {
        margin-top: 5px;
    } 
    .butt > i
    {
        padding-right: 30px;
        padding-left: 20px;
    }
    .buttons > i
    {
    padding-right: 10px;
    }
      
}
@media screen and (max-width:320)
{
    .sear > i
    {
        margin-left: 20px;
        font-size: 15px ;
    }
    .container
    {
        width: 100%;
        height: auto;
    }
    #check , label #sign-one 
    {
        margin-right: 40px;
    }
    .heading
    {
        margin-top: 15px;
    }
    .butt > i
    {
        padding-right: -10px;
        padding-left: -10px;
    }
    .buttons > i
    {
    padding-right: 5px;
    }
}

